<div class="header bg-gradient-danger pb-5 pt-2 pt-md-5">
</div>
<div class="content container">
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab [label]="dataConfig.tag">
          <app-list-tag></app-list-tag>
        </mat-tab>
        <mat-tab [label]="dataConfig.fastAnswer">
          <app-fast-answer></app-fast-answer>
        </mat-tab>
        <mat-tab [label]="dataConfig.teamMembers" *ngIf="viewProfile === 'admin'">
          <app-team-members></app-team-members>
        </mat-tab>
        <mat-tab [label]="dataConfig.officeHours" *ngIf="viewProfile === 'admin'">
          <app-office-hours></app-office-hours>
        </mat-tab>
        <mat-tab [label]="dataConfig.defaultFlows" *ngIf="viewProfile === 'admin'">
          <app-default-flows></app-default-flows>
        </mat-tab>
        <mat-tab [label]="dataConfig.config" *ngIf="viewProfile === 'admin'">
          <app-detail-config></app-detail-config>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
