<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="exampleFormControlInput1">Url Socket</label>
      <input type="email" class="form-control" [(ngModel)]="data.urlSocket" (change)="handleNext()">
    </div>
  </div>
  <div class="col-12">
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-grow-1 bd-highlight"></div>
      <div class="p-2 bd-highlight">
        <button mat-raised-button color="primary" (click)="handleNext()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
