<div class="row">
  <div class="col-12 col-sm-4">
    <div class="row">
      <div class="col-12">
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1 bd-highlight">
            <h3> {{ dataConfig.mine }} </h3>
          </div>
          <div class="p-2 bd-highlight">
          </div>
          <div class="p-2 bd-highlight">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" (click)="handleOpenAllChat()">
              <mat-icon>find_in_page</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabClick($event)">
          <mat-tab [label]="dataConfig.txtChatNew">
            <app-list-chat-option
              (dataSent)="receiveDataFrom($event)"
              [querys]="querys1"
              #dataSentDestroy1
              >

            </app-list-chat-option>
          </mat-tab>
          <mat-tab [label]="dataConfig.txtChatAnswered">
            <app-list-chat-option
              (dataSent)="receiveDataFrom($event)"
              [querys]="querys2"
              #dataSentDestroy2
            >

           </app-list-chat-option>
          </mat-tab>
          <mat-tab [label]="dataConfig.txtChatFinalized">
            <app-list-chat-option
              (dataSent)="receiveDataFrom($event)"
              [querys]="querys3"
              #dataSentDestroy3
            >

           </app-list-chat-option>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

  </div>
  <div class="col-12 col-sm-8">
    <section>
      <app-chat-new-detailed [data]="dataSelect" (dataSent)="receiveChatDestroy($event)" #sonChat></app-chat-new-detailed>
      <!--<app-list-chat-detailed [data]="dataSelect" #sonChat></app-list-chat-detailed>-->
    </section>
  </div>
</div>
