<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <div style="padding: 15px;">
                <h2>{{ dataConfig.liveChat }}</h2>      
            </div>
            <div>
              <mat-form-field appearance="fill">
                <mat-label>{{ dataConfig.txtDateTime }}</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
  
                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field> 
            </div>
            <div style="padding: 15px;">
              <button mat-raised-button color="primary" (click)="handleFilterDate()">{{ dataConfig.txtBtnFilter }}</button>
            </div>
        </div>
    </div>
</div>
<div 
  class="board mouse" 
  cdkDropList 
  [cdkDropListData]="listChat" 
  (cdkDropListDropped)="onDropColumn($event)"
>
    <div
      class="column"
      *ngFor="let column of listChat"
      cdkDrag
      [cdkDragData]="column"
    >
     <div class="column-header">
        <input [(ngModel)]="column.sequences" placeholder="Nombre de columna" (change)="handleUpdateDbsSequences( column.id, column.sequences )"/>
        
        <!-- Botón para eliminar columna -->
        <button mat-icon-button color="warn" (click)="deleteColumn(column)">
          <mat-icon>delete</mat-icon>
        </button>
      
        <!-- Botón para agregar columna al lado -->
        <button 
          mat-icon-button 
          class="add-column-btn" 
          (click)="addColumnAfter(column)">
          <mat-icon>add</mat-icon>
        </button>
     </div>
      <div 
        class="column-body" 
        cdkDropList 
        [cdkDropListData]="column.listChat" 
        [cdkDropListConnectedTo]="connectedLists" 
        (cdkDropListDropped)="onDrop($event)"
        style="height: 97vh;"
      >
        <div
          class="card"
          *ngFor="let item of column.listChat"
          cdkDrag
          [cdkDragData]="item"
          (click)="openChatDialog(item)"
        >
          <div class="card-content" style="width: 100%;">
            <div class="chat-details">
              <div class="chat-header">
                <span class="chat-name">
                  <img [src]="( item['contactIdList']?.foto ) || './assets/imagenes/perfil.png'" alt="Foto" class="chat-photo" />
                  {{ item['contactIdList']?.name }}
                </span>
                <!--<span class="chat-time">{{ item.updatedAt | date: 'hh:mm:ss' }}</span>-->
              </div>
              <div class="chat-message">{{ item['whatsappId']?.txt | slice: 0:30 }}</div>
              <div class="chat-date">{{ item.updatedAt | date: 'dd-MM-yyyy' }} {{ item.updatedAt | date: 'hh:mm:ss' }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  