<div class="new-live-chat__current-chat-content" *ngIf="data.id">
  <div class="current-chat">
    <div class="opened-chat-room__container p-3">
      <div class="d-flex flex-row bd-highlight mb-3 mat-elevation-z2">
        <div class="p-2 bd-highlight"><img alt="Default Avatar" class="opened-chat-room__users-avatar" src="{{ data['contactIdList']?.foto || './assets/imagenes/perfil.png' }}?stp=dst-jpg_s96x96&amp;ccb=11-4&amp;oh=01_ASBO06DXF88XYlaIfx-YqvV1eJejfPAe8FjEoSPkUYzd8w&amp;oe=66268F45&amp;_nc_sid=e6ed6c&amp;_nc_cat=111"></div>
        <div class="p-2 bd-highlight" style="margin-top: 10px; width: 100%;">
          <div class="row">
            <div class="col-12">
              <div class="d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                  {{  _toolsService.formatNumer( data.to )  }}
                  <label *ngIf="data.tipeGuide">Transportadora: {{ data.tipeGuide }}</label>
                  <div class="col-12">
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        [(ngModel)]="data.numberGuide"
                        [placeholder]="dataConfig.numberGuider"
                        (change)="handleUpdateNumber()"
                      >
                    </div>
                  </div>
                </div>
                <div class="p-2 bd-highlight">
                  <!--<button mat-mini-fab color="warn" (click)="drawer.toggle()">
                    <mat-icon>perm_identity</mat-icon>
                  </button>-->
                  <button mat-mini-fab color="warn" (click)="handleOpenContact()">
                    <mat-icon>perm_identity</mat-icon>
                  </button>
                  <button mat-mini-fab color="primary" (click)="handleClose()">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="opened-chat-room__content list-container" #chatContainer>
        <div class="chat-container" [scrollTop]="chatContainer.scrollHeight" *ngIf="listDetails.length">
          <div *ngFor="let item of listDetails ">
            <div class="chat-message another toStyle" *ngIf="item.quien === 0">
              <div class="chat-message__box another undefined-box">
                <div class="replied-container">
                  <div class="replied-message-container replied-message-container_rounded">
                    <div class="replied-message-container__line"></div>
                    <div class="replied-message-container__content">
                      <div class="sender-title">Tú</div>
                      <div class="message-content"></div>
                    </div>
                    <div class="right-content"></div>
                  </div>
                </div>
                <span class="content" [innerHTML]="item.txt">
                </span>
                <a [href]="item.urlMedios" target="_blank" *ngIf="item.urlMedios">
                  <img *ngIf="(  item.typeTxt === 'photo' )" [src]="item.urlMedios" alt="" srcset="" style="width: 30%;">
                  <span *ngIf="( item.typeTxt === 'video' ) || ( item.typeTxt === 'document' ) ">
                    <button mat-mini-fab color="primary" (click)="processIframeWeb( item );" *ngIf="!item.viewFile">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <iframe *ngIf="item.viewFile" [src]="item.viewFile" frameborder="0"></iframe>
                  </span>
                  <span *ngIf="(  item.typeTxt === 'audio' )">
                    <audio controls>
                      <source [src]="item.urlMedios" type="audio/ogg">
                      Tu navegador no soporta el elemento de audio.
                    </audio>
                  </span>
                </a>
                <span class="right-bottom">
                  <span class="date date-from-another"> {{ item.date }} </span>
                </span>
              </div>
            </div>
            <div class="chat-message my fromStyle" *ngIf="item.quien === 1">
              <div class="chat-message__box my undefined-box">
                <span class="content" [innerHTML]="item.txt">
                </span>
                <a [href]="item.urlMedios" target="_blank" *ngIf="item.urlMedios">
                  <img *ngIf="(  item.typeTxt === 'photo' )" [src]="item.urlMedios" alt="" srcset="" style="width: 30%;">
                  <span *ngIf="( item.typeTxt === 'video' ) || ( item.typeTxt === 'document' ) ">
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="processIframeWeb( item );" *ngIf="!item.viewFile">
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <iframe *ngIf="item.viewFile" [src]="item.viewFile" frameborder="0"></iframe>
                  </span>
                  <span *ngIf="(  item.typeTxt === 'audio' )">
                    <audio controls>
                      <source [src]="item.urlMedios" type="audio/ogg">
                      Tu navegador no soporta el elemento de audio.
                    </audio>
                  </span>
                </a>
                <span class="right-bottom">
                  <span class="date">{{ item.date }}</span>
                  <div class="status">
                    !!
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-container" *ngIf="listDetails.length === 0">
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-center">
                <div>
                  <mat-progress-spinner
                      class="example-margin"
                      color="warn"
                      mode="determinate"
                      [value]="valueSpinner">
                  </mat-progress-spinner>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container" *ngIf="breakpoint === 1">
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" (click)="handleFile('document')"><mat-icon>file_copy</mat-icon> Document</a></li>
                    <li><a class="dropdown-item" href="#" (click)="handleFile('video')"><mat-icon>movie</mat-icon> Video</a></li>
                    <li><a class="dropdown-item" href="#" (click)="handleFile('photo')"><mat-icon>insert_photo</mat-icon> Photo</a></li>
                  </ul>
                </div>
              </div>
              <div>
                <button mat-mini-fab color="warn" aria-label="Emoji" (click)="disabledEmoji = !disabledEmoji;">
                  <mat-icon>sentiment_satisfied_alt</mat-icon>
                </button>
              </div>
              <div>
                <button mat-mini-fab color="warn" aria-label="Add">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div>
                <button mat-mini-fab color="warn" aria-label="User">
                  <mat-icon>person</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <form>
              <textarea class="form-control" rows="3" [(ngModel)]="msg.txt"></textarea>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-end">
              <button mat-mini-fab color="warn" aria-label="Open Audio Recorder" *ngIf="!recording" (click)="handleOpenAudioRecorder()">
                <mat-icon>mic</mat-icon>
              </button>
              <button mat-mini-fab color="warn" aria-label="Start Recording" *ngIf="recording && !audioBlob" (click)="handleStartRecording()">
                <mat-icon>stop</mat-icon>
              </button>
              <button mat-mini-fab color="warn" aria-label="Trash Recording" *ngIf="audioBlob" (click)="handleTrashRecording()">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-mini-fab color="warn" aria-label="Send" (click)="handleAddMessage()">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="opened-chat-bottom__container" *ngIf="breakpoint === 6">
        <div class="row" style="width: 100%;">
          <div class="col-12">
            <div class="d-flex bd-highlight">
              <div class="p-2 bd-highlight">
                <div class="d-flex bd-highlight mb-3">
                  <div class="bd-highlight">
                    <button mat-icon-button [matMenuTriggerFor]="menu" color="warn">
                      <mat-icon>add_circle_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="handleFile('document')">
                        <mat-icon>file_copy</mat-icon>
                      </button>
                      <button mat-menu-item  (click)="handleFile('video')">
                        <mat-icon>movie</mat-icon>
                      </button>
                      <button mat-menu-item (click)="handleFile('photo')">
                        <mat-icon> insert_photo</mat-icon>
                      </button>
                    </mat-menu>
                  </div>
                  <div class="bd-highlight">
                    <emoji-mart *ngIf="disabledEmoji" (emojiClick)="addEmoji($event)" [style]="{ position: 'absolute', bottom: '73px', right: '20px' }"></emoji-mart>
                    <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" (click)="disabledEmoji = !disabledEmoji;">
                      <i class="ni ni-satisfied"></i>
                    </button>
                  </div>
                  <div class="bd-highlight">
                    <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" (click)="openBottomSheetFlows()">
                      <i class="ni ni-fat-add"></i>
                    </button>
                  </div>
                  <div class="bd-highlight">
                    <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" (click)="openBottomSheetFastAnswer()">
                      <i class="ni ni-user-run"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="p-2 flex-grow-1 bd-highlight">
                <form>
                  <textarea style="width: 100%;" class="opened-chat-bottom__textarea" [(ngModel)]="msg.txt"></textarea>
                </form>
              </div>
              <div class="p-2 bd-highlight">
                <button mat-mini-fab color="warn" (click)="handleOpenAudioRecorder()" *ngIf="!recording">
                  <mat-icon>settings_voice</mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="handleStartRecording()" *ngIf="recording && !audioBlob">
                  <mat-icon>stop</mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="handleTrashRecording()" *ngIf="audioBlob">
                  <mat-icon>restore_from_trash</mat-icon>
                </button>
                <button mat-mini-fab color="warn" (click)="handleAddMessage()">
                  <mat-icon>send</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="new-live-chat__current-chat-content" *ngIf="!data.id">
  <h4>Chat no seleccionado</h4>
</div>
