<section mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div>
      <h4 *ngIf="!id">{{ dataConfigs.txtCreateWhatsapp }} </h4>
      <h4 *ngIf="id">{{ dataConfigs.txtUpdateWhatsapp }} </h4>
    </div>
    <div></div>
    <div>
      <button mat-mini-fab color="warn" mat-dialog-close>
        <i class="ni ni-fat-remove"></i>
      </button>
    </div>
  </div>
</section>
<mat-dialog-content class="mat-typography" id="print">
  <div class="row">
    <div class="email-new-nano">
      <div class="email-new-nano-content">
        <div id="email-new-inner">
          <mat-toolbar>
            <span class="subject">Nuevo Whatsapp</span>
          </mat-toolbar>
          <div class="row container">

            <div class="row form-group col-12" *ngIf="data.imagenWhat">
              <!--<img class="anchosWet" [src]="data.imagenWhat">-->
              <label for="exampleInpSubject" class="col-2">Codigo de Whatsapp:</label>
              <qrcode [qrdata]="data.imagenWhat" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </div>

            <div class="col-sm-6 form-group col-6">
              <label for="exampleInpSubject" class="col-2">Titulo de la operacion:</label>
              <input type="text" class="form-control form-control-sm" placeholder="Titulo..."
                [(ngModel)]="data.subtitulo" />
            </div>

            <div class="form-group col-6 col-sm-6">
              <label for="exampleInpCc" class="col-2">Plataforma:</label>
              <select class="form-control form-control-sm" [(ngModel)]="data.empresa" (change)="onSelectPlt( )">
                <option [value]="item.id" *ngFor="let item of listPlataforma">
                  {{ item.titulo }}</option>
              </select>
            </div>

            <div class="form-group col-6 col-sm-6" *ngIf="listDePlataforma.length">
              <label for="exampleInpCc">Lista Plataforma:</label>
              <select class="form-control" [(ngModel)]="data.idLista">
                <option [value]="item.id" *ngFor="let item of listDePlataforma">
                  {{ item.titulo }}</option>
              </select>
            </div>

            <div class="col-sm-6 form-group col-6">
              <label for="exampleInpSubject">idPc:</label>
              <input type="number" class="form-control" placeholder="id Pc puesto"
                [(ngModel)]="data.idPuesto" />
            </div>

            <div class="form-group col-12">
              <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Email seleccionados">
                  <mat-chip *ngFor="let item of this.data.listEmails" [selectable]="selectable" [removable]="removable"
                    (removed)="remove( item )">
                    {{ item.username }} {{ item.telefono }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Numeros..." [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
            </div>
            <div class="col-12">
              <label for="exampleInpSubject">Cantidad de usuario {{ counstNumero }}</label>
            </div>
            <div class="row form-group col-12">
              <label for="exampleInpSubject" class="col-2">Importar excel:</label>
              <input type="file" accept=".xls,.xlsx" (blur)="onFileChange($event)">
              <button type="button" class="btn btn-success">Importar</button>
            </div>

            <div class="form-group col-12" *ngIf="data.id">
              <label for="exampleInpSubject">Mensajes Enviados:</label>
              <input type="text" class="form-control" [(ngModel)]="data.cantidadEnviado" />
            </div>


            <div class="form-group col-12">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label for="exampleInpSubject">Cantidad de tiempo entre mensaje ( segundos ):</label>
                  <input type="number" placeholder="..." class="form-control form-control-sm"
                    [(ngModel)]="data.cantidadTiempoMensaje" />
                </div>
                <div class="col-sm-6 form-group">
                  <label for="exampleInpSubject">Cantidad de de espera entre mensaje ( segundos ):</label>
                  <input type="number" class="form-control form-control-sm"
                    placeholder="ejemplo espera 1 minuto y pausa" [(ngModel)]="data.tiempoMsxPausa" />
                </div>
                <div class="col-sm-6 form-group">
                  <label for="exampleInpSubject">Cantidad de mensaje entre la pausa:</label>
                  <input type="number" class="form-control form-control-sm"
                    placeholder="ejemplo 10 mensajes y espera 1 minuto" [(ngModel)]="data.cantidadMsxPausa" />
                </div>
                <div class="col-sm-6 form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input type="checkbox" aria-label="..." [(ngModel)]="data.pausar">
                    </span>
                    <span>{{ data.pausar == true ? 'Estado del mensajes Activo' : 'Estado del mensajes Pausado'
                      }}</span>
                  </div>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="exampleInpSubject">Cantidad de lista:</label>
                  <input type="number" class="form-control form-control-sm" [(ngModel)]="data.cantidadLista" />
                </div>
                <div class="col-sm-6 form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <input type="checkbox" aria-label="..." [(ngModel)]="data.rotadorMensajes">
                    </span>
                    <span> Rotador de mensajes {{ data.rotadorMensajes == true ? 'si' : 'no' }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Lista de Galeria" (click)="cargarTodos()">
                  <div id="" class="email-content-nano">
                    <div class="email-content-nano-content">
                      <div class="d-flex justify-content-center">
                        <div>
                          <button type="submit" class="btn btn-primary"
                            (click)="this.dataTable.dataRows = []; cargarTodos()">Actualizar</button>
                            <button mat-raised-button color="accent"(click)="handleOpenG()" >Crear Galeria</button>
                        </div>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let item of this.dataTable.dataRows"
                          [ngClass]="{'check': item.check == true }">
                          <div class="d-flex bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                              <mat-checkbox color="primary" class="example-margin" (change)="seleccion( item )"
                                [(ngModel)]="item.check"></mat-checkbox>
                            </div>
                            <div class="p-2 bd-highlight">
                              <div class="name">
                                <span>{{ item.titulo }}</span>
                              </div>
                            </div>
                            <div class="p-2 bd-highlight">
                              <div class="message">
                                <span class="label label-success">Nuevo</span>
                                <span class="body" [innerHtml]="item.descripcion | slice: 0: 200"></span>
                              </div>
                            </div>
                            <div class="p-2 bd-highlight">
                              <div class="meta-info">
                                <a class="attachment pointer">
                                  <i class="fa fa-paperclip"></i>
                                </a>
                                <span class="date">{{ item.createdAt | date:'medium' }}</span>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <a class="page-link mouse" (click)="onScroll()">VER MAS</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <!--<ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
            [fullScreen]="false">
        </ngx-spinner>-->
    </div>
  </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button type="button" [disabled]="btnDisabled" *ngIf="id" class="btn btn-success" (click)="actualizar()"><i
      class="fas fa-pencil-alt"></i>Actualizar Datos</button>
  <button type="button" [disabled]="btnDisabled" *ngIf="!id" class="btn btn-success" (click)="enviar()"><i
      class="fa fa-send"></i>Enviar Whatsapp</button>
</mat-dialog-actions>
