<h2 mat-dialog-title>{{ dataConfig.txtListAdviser }}</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <div formArrayName="items">
      <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="item-container">
        
        <!-- Título de cada sección -->
        <h3>Elemento {{ i + 1 }}</h3>
        
        <!-- Campos del formulario -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Título</mat-label>
          <input matInput formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description" rows="3" required></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Tipo</mat-label>
          <input matInput formControlName="typeOpt" required disabled="true">
        </mat-form-field>

        <hr>
      </div>
    </div>
    
    <!-- Botón para agregar más elementos -->
    <button mat-button color="primary" type="button" (click)="addItem()">Agregar Elemento</button>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close><i class="ni ni-fat-remove"></i></button>
  <button mat-raised-button color="primary" (click)="handleSubmit()" [disabled]="btnDisabled">
    {{ dataConfig.txtUpdate }}
  </button>
</mat-dialog-actions>
