<h1 mat-dialog-title>Selecciona una Ciudad {{ data.city }} </h1>
<div mat-dialog-content>
  <!-- Buscador -->
  <mat-form-field appearance="outline">
    <mat-label>Buscar ciudad</mat-label>
    <input matInput [(ngModel)]="filtro" placeholder="Ej: Bucaramanga">
  </mat-form-field>

  <!-- Lista de ciudades filtradas -->
  <mat-selection-list>
    <mat-list-option *ngFor="let city of ciudadesFiltradas()" (click)="seleccionar(city)">
      {{ city.name }}
    </mat-list-option>
  </mat-selection-list>
</div>
