/* Contenedor principal del chat */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 81vh;  // Ajusta al 100% de la altura de la ventana
  background-color: #e5ddd5;
}

/* Header del chat donde aparece el nombre y la foto */
.chat-header {
  background-color: #128c7e;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  height: 10vh; /* 10% de la altura de la ventana */
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

/* Contenedor de mensajes */
.chat-messages {
  flex-grow: 1;
  max-height: 80vh;  /* Ajusta al 80% de la altura de la ventana */ //////////
  overflow-y: auto;  /* Para hacer scroll si hay muchos mensajes */
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;  /* Fondo claro */
}

/* Estilos para los mensajes enviados por el usuario */
.message-sent {
  background-color: #dcf8c6;
  align-self: flex-end;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
  margin: 5px 0;
  max-width: 60%;
  word-wrap: break-word;
  position: relative;
}

/* Estilos para los mensajes recibidos */
.message-received {
  background-color: #ffffff;
  align-self: flex-start;
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  margin: 5px 0;
  max-width: 60%;
  word-wrap: break-word;
  position: relative;
}

/* Contenedor de la fecha y el estado */
.message-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

/* Fecha */
.message-date {
  margin-right: 5px;
}

/* Estado del mensaje (los checks) */
.message-status {
  font-size: 12px;
  color: #34b7f1; /* Color de los checks */
}
/*
.message-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}*/

.double-check {
  color: #4fc3f7; /* Azul claro, simulando WhatsApp cuando llega el mensaje */
}

/* Animación para los mensajes nuevos */
@keyframes slideIn {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.message-sent, .message-received {
  animation: slideIn 0.3s ease-out;
}

/* Contenido del mensaje */
.message-content {
  display: flex;
  flex-direction: column;
}

/* Imagen dentro de un mensaje */
.image-message {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 5px;
}

/* Audio dentro de un mensaje */
audio {
  margin-top: 5px;
}

/* Video dentro de un mensaje */
video {
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
}

.document-link {
  color: #007bff;
  text-decoration: none;
}

.document-link:hover {
  text-decoration: underline;
}

/* Contenedor de la respuesta (reply) */
.related-message {
  background-color: #f0f0f0;
  padding: 5px;
  border-left: 3px solid #128c7e;
  margin-bottom: 5px;
  font-size: 12px;
  color: #555;
}

/* Efecto de sombra o resalte cuando se selecciona un mensaje */
.highlight {
  box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.7); /* Sombra verde estilo WhatsApp */
  transition: box-shadow 0.5s ease; /* Transición suave para que el efecto de resalte desaparezca */
}

/* Contenedor de entrada de texto y botones */
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh; /* 10% de la altura de la ventana */
}

/* Input de mensaje */
input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

/* Botones de archivos, emojis y enviar */
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

button:focus {
  outline: none;
}


/* Estilo para el picker de emojis */
ngx-emoji-mart {
  position: absolute;
  bottom: 60px;
  right: 10px;
}

.chat-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
}

.chat-input-area {
  flex-grow: 1;
  border: none;
  resize: none;
  padding: 5px;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  max-height: 150px;
  border-radius: 20px;
  outline: none;

  /* Agregar la animación de transición */
  transition: height 0.2s ease-in-out;
}

.chat-input-area:disabled {
  background-color: #f5f5f5;
}


.attach-button {
  margin-right: 5px;
}

.emoji-button {
  margin-left: 5px;
}

.send-button {
  margin-left: 5px;
}

.emoji-picker {
  position: absolute;
  bottom: 50px;
  right: 10px;
}

.scroll-btn {
  position: absolute;
  right: 30px;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.scroll-up {
  bottom: 40vh;
}

.scroll-down {
  bottom: 35vh;
}

.scroll-btn:hover {
  background-color: #0056b3;
}

.example-chip-list {
  width: 100%;
}