<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="mb-0">{{ _dataConfig.titulo }} </h3>
              </div>
              <div></div>
              <!--<div>
                <a class="btn btn-success" href="javascript:void(0)" (click)="print()">Imprimir</a>
              </div>-->
            </div>
          </div>
          <div class="table-responsive p-3">
            <div class="row">
              <div class="col-12">
                <div class="form-group mat-elevation-z8 p-3">
                  <label class="form-control-label" for="input-username">Buscador por Codigo</label>
                  <input type="text" [(ngModel)]="txtFilter" class="form-control form-control-alternative"
                      placeholder="Buscar item por codigo" (change)="filterTxt()">
                </div>
              </div>
              <div class="col-12">
                <div class="example-loading-shade"
                      *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    Se ha alcanzado el límite de tasa de API. Se restablecerá en un minuto.
                  </div>
                </div>
              </div>
            </div>

            <table mat-table *ngIf="!isLoadingResults"
                  [dataSource]="_dataConfig.tablet.row" multiTemplateDataRows
                  class="mat-elevation-z8" matSort
                  matSortActive="created" matSortDisableClear matSortDirection="desc"
                  (matSortChange)="resetPaging()">
              <ng-container matColumnDef="{{column}}" *ngFor="let column of _dataConfig.tablet.keys">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  <span *ngIf="( column !== 'expireDate' ) && ( column !== 'itemPeers' )">{{column}}</span>
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="
                  { 'danger': element.danger == true,
                    'medium': element.warning == true,
                    'full': element.full == true
                  }
                " [style.background]="element.colorP"
                >
                  <span *ngIf="( column !='Acciones' )  && ( column !='foto' ) && ( column !='expireDate' ) && ( column !='createdAt' ) && ( column !='updatedAt' ) && ( column !='monto' ) && ( column !='openDialogContact' )">{{ element[column] }}</span>
                  <span *ngIf="column ==='Acciones' && _dataConfig.returnHTML === 'formbell/'">
                    <button type="button" mat-mini-fab color="primary"  (click)="handleUpdateBell( element )">
                      <i class="ni ni-active-40"></i>
                    </button>
                    <button type="button" mat-mini-fab color="warn"  (click)="handleOpenDialogQr( element )">
                      <i class="ni ni-camera-compact"></i>
                    </button>
                  </span>
                  <span *ngIf="column ==='updateBtn'">
                    <button type="button" mat-mini-fab color="primary"  (click)="handleUpdateBell( element )">
                      <i class="ni ni-ruler-pencil"></i>
                    </button>
                  </span>
                  <div *ngIf="column === 'select' " ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">

                    <span *ngIf="_dataConfig.returnHTML !== 'check'">
                      <button type="button" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="openVer( element )">
                        <i class="ni ni-check-bold"></i>
                      </button>
                      <button type="button" mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" (click)="deleteItem( element )" *ngIf="( _dataConfig.returnHTML !== 'formlogs/' ) || _dataConfig.returnHTML !== 'formmoneypayment/'">
                        <i class="ni ni-fat-remove"></i>
                      </button>
                    </span>
                    <span *ngIf="_dataConfig.returnHTML === 'check'">
                      <input type="checkbox" class="form-check-input" [(ngModel)]="element.check">
                      <label class="form-check-label" for="exampleCheck1">Seleccionar</label>
                    </span>
                  </div>
                  <img [src]="element[column]" *ngIf="column == 'foto'">

                  <span *ngIf="column =='monto'">
                    {{ _tools.monedaChange( 3, 2, element[column] ) }}
                  </span>
                  <span *ngIf="( column =='createdAt' ) || ( column =='updatedAt' )"> {{ element[column] | date:'medium'}} </span>
                </td>

              </ng-container>

              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="_dataConfig.tablet.keys.length">
                  <div class="example-element-detail p-3"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="_dataConfig.returnHTML === 'r/'">
                      <ul class="list-group">
                        <li class="list-group-item">
                        </li>
                      </ul>
                  </div>
                  <div class="example-element-detail p-3" style="width: 100%;"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="_dataConfig.returnHTML === 'r/'">
                    <div class="row" style="width: 100%;">
                      <div class="col-sm-3 col-6" *ngIf="element.xx">
                        <label for="">xxx:&nbsp;</label>
                        <span>{{ element.xx }} </span>
                      </div>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="_dataConfig.tablet.keys"></tr>
              <tr mat-row *matRowDef="let element; columns: _dataConfig.tablet.keys;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>
          </div>
          <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)"></mat-paginator>
        </div>
      </div>
    </div>
</div>
