<section mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div>
      <h4 >{{ dataConfig.universalMessages }} </h4>
    </div>
    <div></div>
    <div>
      <button mat-mini-fab color="warn" mat-dialog-close>
        <i class="ni ni-fat-remove"></i>
      </button>
    </div>
  </div>
</section>
<mat-dialog-content class="mat-typography" id="print">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input class="form-control" type="search"[placeholder]="dataConfig.search" [(ngModel)]="txtFilter" (change)="getFilter()">
      </div>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill">
        <mat-label>{{ dataConfig.rangeDateTxt }}</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      &nbsp; &nbsp;
      <button mat-raised-button color="primary" (click)="handleRangeDate()">{{ dataConfig.search }} </button>
    </div>
    <div class="col-12 container">
      <mat-list>
        <mat-list-item
          *ngFor="let item of listChat"
          class="mat-elevation-z2 mouse"
          (click)="handleSelectChat( item )"
          [ngClass]="
            { 'checkSelect': item.check == true
            }
          "
        >
          <div mat-line>
            <div class="chat-room__content r9">
            <div class="chat-room__users-avatar-container">
              <img alt="Default Avatar" class="chat-room__users-avatar r2"
                src="{{ item.foto || './assets/img/theme/team-4-800x800.jpg' }}?stp=dst-jpg_s96x96&amp;ccb=11-4&amp;oh=01_ASBO06DXF88XYlaIfx-YqvV1eJejfPAe8FjEoSPkUYzd8w&amp;oe=66268F45&amp;_nc_sid=e6ed6c&amp;_nc_cat=111"
              />
            </div>
            <div class="chat-room__info r3">
              <div>
                <div class="chat-room__user-name r8">
                  <span class="full-name-text r1"> {{ item.to }} </span>
                  <span class="r4"> {{ item.createdAt | date:'M/d/yy, h:mm a' }} </span>
                </div>
              </div>
              <div class="chat-room__info-row r5">
                <div class="chat-room__last-message r6">
                  <div class="chat-room-last-message__container">
                    <span class="last-message last-message-pre">{{ item.txt }} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="row">
    <div class="col-12">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight"></div>
        <div class="p-2 bd-highlight">
          <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[20, 100, 200, 300]" (page)="pageEvent($event)"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>


