<section mat-dialog-title>
  <div class="d-flex justify-content-between">
    <div>
      <h1>{{ dataConfig.txtFile }} - {{ datas.format }} </h1>
    </div>
    <div>
      <button mat-mini-fab color="warn" mat-dialog-close>
        <i class="ni ni-fat-remove"></i>
      </button>
    </div>
  </div>
</section>
<mat-dialog-content class="mat-typography" id="print" style="    height: 435px;">
  <div class="row">
    <div class="col-12">
      <app-archivos (actionEvent)="handleChildAction( $event )" [acceptFile]="selectAcceptFile"></app-archivos>
    </div>
    <div class="col-12">
      <div class="gallery">
        <mat-card *ngFor="let item of listGallery" class="example-card">
          <img *ngIf="item.type === 'image/png' "  mat-card-image [src]="item.href" [alt]="item.textParams" style="    width: 100%; height: -webkit-fill-available;">
          <iframe *ngIf="item.type !== 'image/png' " style="width: 100%;" [src]="item.viewFile" frameborder="0"></iframe>
          <mat-card-content>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button *ngIf="item.check" (click)="handleSelectImg( item )">{{ dataConfig.txtDeSelect }} </button>
            <button mat-button *ngIf="!item.check" (click)="handleDeSelectImg( item )">{{ dataConfig.txtSelect }} </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="row" style="width: 100%;">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div>
        </div>
        <div></div>
        <div>
          <button mat-raised-button color="primary" (click)="handleEndFile()">
            {{ dataConfig.txtSend }}
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>


